.name {
    font-size: 25px;
    color: #0E2431;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: default;
}

.name:hover {
    color: #FF66C4;
}

.nav-bar a {
    font-size: 18px;
    color: #0E2431;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    position: relative;
}

.nav-bar a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0.20rem;
    left: 0;
    top: 2rem;
    background-color: #FF66C4;
    border-radius: 10px;
    transition: 0.3s;
} 

.nav-bar a:hover::after {
    width: 100%;
} 

.nav-bar a.active::after {
    width: 100%;
} 