.home {
    display: flex;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 80vh;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.home-tudo {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
}

.home-img{
    width: 32%;
}

.home-content {
    max-width: 600px;
}

.home-title-color {
    color: #FF66C4;
}

.home-title {
    font-size: 50px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
    margin-top: 10px;
}

.home-content .home-btn {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-btn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    margin-right: 10px;
    background-color: #FF66C4;
    border: 4px solid #FF66C4;
    border-radius: 20px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-btn a:hover {
    color: #FF66C4;
}

.home-btn a:nth-child(2) {
    background-color: transparent;
    color: #FF66C4;
}

.home-btn a:nth-child(2):hover {
    color: white;
}


.home-btn a:nth-child(2)::before {
    background-color: #FF66C4;
}

.home-btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: white;
}

.home-btn a:hover::before {
    width: 100%;
}

.button {
    display: inline-block;
    background-color: #FF66C4;
    color: white;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.4);
}

@media (min-width:  768px) and (max-width: 1024px ) {

    .home-tudo{
        flex-direction: column;
        justify-content: center;
    }
    .home-img {
       width: 50%;
       margin-bottom: 100px;
    }
    .box {
        gap: 0px;
        width: 280px;
    }
    .projects-box{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 450px ) {
    .name {
        font-size: 20px;
    }
    .nav-bar a {
        font-size: 15px;
    }
    .home-tudo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home {
        max-height: 700px;
    }
    .home-img {
       width: 50%;
       margin-bottom: 80px;
    }
    .home p {
        font-size: 15px;
        margin-bottom: 15px;;
    }
    .home h1 {
        font-size: 25px;
    }
    .home h3 {
        font-size: 20px;
    }
    .home-btn a {
        width: 100px;
        border-radius: 15px;
    }
    .projects-box{
        align-items: center;
        justify-content: center;
    }
    .contact-input {
        width: 300px;
    }
}