* {
    font-family: "Poppins", sans-serif;

    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #0E2431;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.4);
    z-index: 100;
}